[Desktop Entry]
Encoding=UTF-8
Name=Milis Paket Yöneticisi
Name[ca]=Milis Package Manager
Name[de]=Milis Package Manager
Name[el]=Milis Package Manager
Name[es]=Milis Package Manager
Name[fr]=Milis Package Manager
Name[it]=Milis Package Manager
Name[ja]=Milis Package Manager
Name[nl]=Milis Package Manager
Name[sv]=Milis Package Manager
Comment=Milis Linux için paket yöneticisi
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=sudo milpek
Terminal=false
Type=Application
Icon=milpek
Categories=System;MX-Software;
NoDisplay=false
