[Desktop Entry]
Encoding=UTF-8
Name=Milis Paket Yöneticisi
Name[ca]=Milis Package Manager
Name[de]=Milis Package Manager
Name[el]=Milis Package Manager
Name[es]=Milis Package Manager
Name[fr]=Milis Package Manager
Name[it]=Milis Package Manager
Name[ja]=Milis Package Manager
Name[nl]=Milis Package Manager
Name[sv]=Milis Package Manager
Comment=Milis Linux için paket yöneticisi
Comment[ca]=Package Manager for Milis Linux
Comment[de]=Package Manager for Milis Linux
Comment[el]=Package Manager for Milis Linux
Comment[es]=Package Manager for Milis Linux
Comment[fr]=Package Manager for Milis Linux
Comment[it]=Package Manager for Milis Linux
Comment[ja]=Package Manager for Milis Linux
Comment[nl]=Package Manager for Milis Linux
Comment[sv]=Package Manager for Milis Linux
Exec=sudo milpek
Terminal=false
Type=Application
Icon=/usr/share/milpek/simge/logo.png
Categories=System;Utility;
NoDisplay=false
