[Desktop Entry]
Encoding=UTF-8
Name=MX Package Manager
Name[ca]=MX Package Manager
Name[de]=MX Package Manager
Name[el]=MX Package Manager
Name[es]=MX Package Manager
Name[fr]=MX Package Manager
Name[it]=MX Package Manager
Name[ja]=MX Package Manager
Name[nl]=MX Package Manager
Name[sv]=MX Package Manager
Comment=Unified package manager
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c mx-package-manager
Terminal=false
Type=Application
Icon=mx-package-manager
Categories=System;MX-Software;
NoDisplay=false
